VITE_SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL=""
VITE_VAPID_PUBLIC_KEY=""
VITE_PUBLIC_PLATFORM_NAME="Limpamais"
VITE_PUBLIC_PWA_SHORT_NAME="Limpamais"
VITE_PUBLIC_PWA_DESCRIPTION="Painel administrativo Limpamais"
VITE_PUBLIC_DEFAULT_TENANT_ID=""
